@import 'mixin-var';

.button {
	padding: 12px 17px;
	font-size: 22px;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid #08970F;
	background-color: #1FC42B;
	color: #ffffff;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	text-transform: uppercase;
	transition: all 0.15s ease;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	&__text {
		// margin-left: 5px;
		@media screen and (hover: none) {
			padding-top: 5px;
		}
		&_play {
			
		}
		&_pause {
			
		}
	}
	&_menu {
		margin: 0 0 10px 0;
	}
	&_dialog-config:first-child {
		margin-right: 20px;
	}
	&_new-game {
		@include addIcon('ec7f');
	}
	&_start {
		&_play {
			@include addIcon('ec74');
		}
		&_pause {
			@include addIcon('ec72');
		}
	}
	&_config {
		@include addIcon('efe1');
	}
	&_about {
		@include addIcon('efcc');
	}
	&_round {
		border-radius: 50%;
		padding: 0;
		width: 50px;
		height: 50px;
		.button__text {
			display: none;
		}
		&::before{
			margin-right: 0;
		}
	}
	@media (hover: hover) {
		&:not(:disabled):hover{
			cursor: pointer;
			transform: scale(1.05);
		}
	}
	&:not(:disabled):active{
		position: relative;
		top: 1px;
	}
	&:disabled{
		color: #B2B2B2;
	}
}
