@import 'mixin-var';

.dialog {
	// display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	user-select: none;
	// .dialog__content-outer
	&__content-outer {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(#686868, 0.7);
	}
	// .dialog__content-inner
	&__content-inner {
		padding: 20px;
		border-radius: 5px;
		border: 1px solid #007005;
		background-color: rgba(#31D539, 0.4);
		transform: scale(0);
		transition: transform 0.2s linear;
	}
	&__icon {
		font-family: 'IcoFont';
		margin-right: 5px;
	}
	&__caption {
		text-align: center;
		margin-bottom: 20px;
		&_fail {
			color: #FF0000;
		}
		&_win {
			color: #007005;
		}
		&_about {
			color: #5400FF;
		}
		&_config {
			color: #FFA800;
		}
	}
	// .dialog__item
	&__item {
		margin: 10px 0;
		&_value {
			color: #41D5FF;
		}
		&_input-label {
			font-family: 'IcoFont';
			margin-right: 5px;
			width: 30px;
			line-height: 1;
		}
		&_checkbox-label {
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
		&_year {
			text-align: center;
		}
	}
	&__buttons {
		padding-top: 20px; 
		display: flex;
		justify-content: center;
	}
	&__input-block {
		line-height: 1;
		&_name {
			display: flex;
			justify-content: stretch;
			align-items: center;
			margin-bottom: 10px;
			width: 100%;
		}
		&_show-keypad {
			display: flex;
			@media (hover: hover) {
				display: none;
			}
			justify-content: flex-start;
			align-items: center;
		}
	}
	&__input {
		padding: 5px;
		border: 1px solid #007005;
		background-color: rgba(#31D539, 0.4);
		color: white;
		&-item-wrap {
			display: flex;
			justify-content: stretch;
			align-items: center;
			margin-top: 5px;
		}
		&-value {
			width: 35px;
			margin-left: 5px;
		}
		&_field-size {
			width: 100%;
			background-color: transparent;
		}
		&_name {
			width: 100%;
			margin-left: 10px;
			text-transform: none;
			border-radius: 4px;
		}
	}
}
