@import '../fonts/icofont/icofont.min.css';

@font-face {
  font-family: "Caveat";
  src: url("../fonts/Caveat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Inking Snake";
  src: url("../fonts/INKING SNAKE.ttf");
}