@import 'mixin-var';

.game {
	height: 100%;
	&__content {
		display: grid;
		grid-template-areas:". game-name"
							". game-info"
							"buttons game-field";
		grid-column-gap: 15px;
		grid-row-gap: 10px;
		width: 100%;
		height: 100%;
		&_buttons-under {
			grid-template-areas:"game-name"
								"game-info"
								"game-field"
								"buttons";
		}
	}
	&__text {
		font-size: 20px;
		line-height: 1.2;
		color: yellow;
		text-shadow: 0 1px 1px rgba(0,0,0,0.3);
		text-transform: uppercase;
	}
	&__username {
		grid-area: game-name;
		text-align: center;
		text-transform: none;
		font-family: 'Press Start 2P';
		font-size: clamp(10px, 2.25vw, 18px);
		text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
		color: #125F00;
	}
	// .game__info
	&__info {
		@extend .game__text;
		color: #125F00;
		grid-area: game-info;
		display: flex;
		justify-content: stretch;
		align-items: center;
		width: 100%;
		cursor: default;
		user-select: none;
		line-height: 1;
	}
	&__info-item {
		width: 100%;
		display: flex;
		align-items: center;
		font-size: clamp(14px, 2.5vw, 20px);
		text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
		&_score {
			justify-content: flex-start;
		}
		&_stopwatch {
			justify-content: center;
		}
		&_level {
			justify-content: flex-end;
		}
	}
	&__info-caption {
		padding-top: clamp(2px, 0.375vw, 3px);
	}
	&__info-value {
		display: inline-block;
		margin-left: 5px;
		font-family: 'Press Start 2P';
  		font-style: normal;
  		font-weight: 400;
		color: #E15102;
		font-size: clamp(10px, 2vw, 16px);
		padding: 5px 5px 4px 5px;
		background-color: rgba(yellow, 0.8);
		text-shadow: none;
		border-radius: 5px;
		text-align: center;
		white-space: nowrap;
	}
	&__stopwatch {
		margin-left: 0;
	}
	&__row {
		position: relative;
		@include setH;
	}
	&__wall {
		grid-area: game-field;
    	justify-self: center;
		width: fit-content;
		display: grid;
		grid-template-areas:"wall-top wall-top wall-top"
							"wall-left field wall-right"
							"wall-bottom wall-bottom wall-bottom";
		&_row {
			@include setH;
			display: flex;
			justify-content: stretch;
			width: 100%;
		}
		&_column {
			@include setW;
			display: flex;
			flex-direction: column;
			justify-content: stretch;
			height: 100%;
		}
		&_top {
			grid-area: wall-top;
		}
		&_bottom {
			grid-area: wall-bottom;
		}
		&_left {
			grid-area: wall-left;
		}
		&_right {
			grid-area: wall-right;
		}
	}
	&__brick {
		width: 100%;
		height: 100%;
		&_row {
			background: url('../img/brick.jpg') left top/100% 100% no-repeat;
		}
		&_column {
			background: url('../img/brick_vert.jpg') left top/100% 100% no-repeat;
		}
	}
	// .game__field
	&__field {
		grid-area: field;
		white-space : nowrap;
      	background: url('../img/grass.jpg') 0 0/contain repeat;
	}
	&__cell {
		display: inline-block;
		position: relative;
		@include setHW;
		&_snake {
			img {
				@include cell-img;
			}
		}
		@for $i from 1 to ($target-files-count + 1) {
			&_reset#{$i} {
				background: url('../img/target#{$i}.png') 0 0/contain no-repeat;
			}
		}
		&_target-img {
			@include cell-img;
			transition: transform 0.2s linear;
			transform: scale(0);
		}
	}
}

.buttons {
	grid-area: buttons;
	@media (hover: none) {
		align-self: end;
	}
	// .buttons__content
	&__content {
		display: flex;
		flex-direction: column;
		@media (hover: none) {
			.button_menu {
				margin: 10px 0 0 0; 
			}
		}
		&_row {
			flex-direction: row;
			justify-content: center;
			.button_menu {
				margin: 0 10px; 
			}
		}
	}
}