@import 'mixin-var';
// @import 'common';

.keypad {
	display: flex;
	@media (hover: hover) {
		display: none;
	}
	justify-content: center;
	padding: 5px 0;
	&__content {
		display: grid;
		grid-template-areas: ". key-up ."
							 "key-left key-play key-right"
							 ". key-down ." ;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 5px;
		justify-items: center;
		align-items: center;
	}
	&__key {
		width: 100px;
		height: 50px;
		font-family: 'IcoFont';
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		user-select: none;
		&_up {
			grid-area: key-up;
		}
		&_down {
			grid-area: key-down;
		}
		&_left {
			grid-area: key-left;
		}
		&_right {
			grid-area: key-right;
		}
		&_play {
			grid-area: key-play;
		}
	}
}
