@import 'mixin-var';

.body {
	width: 100%;
	height: 100vh;
	font-family: 'Neucha';
	// .body__content
	&__content {
		overflow: auto;
		white-space: nowrap;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: url('../img/bg.png') 50% 50%/ cover no-repeat;
	}
}

.game-area {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: min-content;
}

.lang_ru {
	display: none;
}

.lang_en {
	display: inline;
}

.header {
	width: 100%;
	height: min-content; //7vh;
	// .header__content
	&__content {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 0;
		cursor: default;
		user-select: none;
	}
	// .header__text
	&__text {
		display: block;
		font-family: 'Inking Snake';
		font-size: 42px;
		letter-spacing: 3px;
		text-transform: uppercase;
  		color: #CE3B01;
  		font-weight: 700;
		text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
		opacity: 0.9;
	}
}

.footer {
	width: 100%;
	// .footer__content
	&__content {
		@media (hover: none) {
			display: none;
		}
		height: 100%;
		width: 100%;
		padding: 7px 0;
		cursor: default;
		user-select: none;
		text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
	}
	// .footer__author
	&__author {
		font-size: 16px;
		margin-bottom: 5px;
		text-align: center;
		span {
			color: #3C3FC8;
		}
	}
	// .footer__date
	&__date {
		font-size: 14px;
		text-align: center;
	}
}
