$cell-size: 30px;
$target-files-count: 3;
$touchScreen: (hover: none) and ((pointer: coarse) or (pointer: fine));

@mixin setW {
	width: $cell-size;
}

@mixin setH {
	height: $cell-size;
}

@mixin setHW {
	@include setW;
	@include setH;
}

@mixin cell-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	user-select: none;
}

@mixin addIcon($hex) {
	&::before {
		font-family: 'IcoFont';
		content: #{'"\\' + $hex + '"'};
		margin-right: 5px;
	}
}