@import 'mixin-var';

.snake {
	&__head {
		&_up {

		}
		&_down {
			transform: rotate(180deg);
		}
		&_right {
			transform: rotate(90deg);
		}
		&_left {
			transform: rotate(-90deg);
		}
	}
	&__tail {
		&_up {

		}
		&_down {
			transform: rotate(180deg);
		}
		&_right {
			transform: rotate(-90deg);
		}
		&_left {
			transform: rotate(90deg);
		}
	}
	&__body-straight {
		&_vertical {

		}
		&_horizontal {
			transform: rotate(90deg);
		}
	}
	&__body-turn {
		&_left-down, &_up-right {

		}
		&_left-up, &_down-right {
			transform: scaleY(-1);
		}
		&_right-up, &_down-left {
			transform: scale(-1, -1);
		}
		&_right-down, &_up-left {
			transform: scaleX(-1);
		}
	}
}